{% extends 'base.html' %}

{% block content %}

<div class="clearfix blog-grid">
  <section id="portfolio" class="folio-grid ratio_4-3 get-ratio clearfix" data-url="/">

    {% for object in members %}
      {% load tz %}
        The UTC time is {{ object.birth_datetime }}
        {% localtime on %}
        The local time is {{ object.birth_datetime }}
      {% endlocaltime %}
    {% endfor %}

  </section>
</div>

{% endblock %}
