{% extends 'base.html' %}

{% block content %}

<div class="clearfix blog-grid">
  <section id="portfolio" class="folio-grid ratio_4-3 get-ratio clearfix" data-url="/">

    {% if profile_list %}
    <ul>
        {% for object in profile_views %}
            <li>{{object}}
            <ul>
                {% for item in profile_list %}
                    <li><a href="{{ item.username }}">{{ item.username }}</a></li>
                {% endfor %}
            </ul>
            </li>
        {% endfor %}
    </ul>
    {% else %}
        <p>No posts are available.</p>
    {% endif %}

  </section>
</div>

{% endblock %}
