{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="folio-grid">

 <div class="searchform">

    <form class="form-inline" role="search" method="GET" action="/search/">
      <div class="input-group input-lg">

    {{ form.media }}
      <!--
      <div class="form-group" style="width:25% ; right:28px; display:flex; position:absolute;">
      -->
        <!--
        {{ formbook.q }}
        {{ searchform }}
        -->
        {{ form.as_p }}
        <!--
        {{ filter.form.as_p }}
        <input class="form-control" id="id_searchbar" type="text" name="q" placeholder="Search...">
      -->
        <button type="submit" name="">Submit</button>
      </div>
    </form>

  </div> <!-- /searchform -->

</div>

{% endblock %}
