/* */

@import url("../css/base.css");

/* --------------------------------------
-----   Theme customization starts here   -----
------------------------------------------*/

/* menu en pantalles petites */
@media all and (max-width: 980px) {
  .sidebar-show #logo {
    margin-top: 12px;
    margin-left: 12px;
  }
}

@media all and (max-width: 430px) {
  .sidebar-show #logo {
    margin-top: 24px;
    max-width: 35%;
  }
  .sidebar-show #logo img {
    max-width: 100%;
  }
}


/* preloader */
#loader,
.post-format-gallery,
.format-image .is-other, .format-video .is-other,
.video-embedded.loading {
   background: none;
}




/* MENU */
.sidebar-show #sidebar .content {
  padding: 150px 30px 50px 110px;
}

#menu li a {
  padding-left: 0;
  font-size: 22px;
  font-weight: 400;
}

#menu li.selected > a,
#menu li a:hover {
  font-weight: 700;
}

#menu .sub-menu li {
  margin: 2px 0;
}


/* trick per seleccionar primer amb class .menu-item-language */
#menu .menu-item-language {
  border-top: 1px dotted #fff;
  padding-top: 10px;
}
#menu .menu-item-language ~ .menu-item-language {
  border-top: none;
  padding-top: 0;
}



#menu .menu-item-language {
  margin: 1px 0;
}

#menu .menu-item-language a {
  font-size: 13px;
}

#menu .menu-item-language:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
}

.sidebar-show #sidebar-widgets {
  padding-left: 110px;
}

#sidebar-widgets {
  width: 100%;
  padding: 0 30px 0 90px;
  text-align: center;
}



/* PORTFOLIO */

/* thumbs */
.folio-caption h3 {
  border-bottom: 1px solid #fff;
  margin-left: -20px;
  margin-right: -20px;
  padding: 0 20px 5px;
}

#portfolio .folio-item:hover .front {
  opacity: 0 !important;
}

#portfolio .folio-item:hover .bottom {
  opacity: 1 !important;
}


/* video */
.post-format-iframe {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.post-format-iframe iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}


/* iconos meta */
.post-meta li:before {
  font-size: 16px;
}

/* modal meta */
.project-modal #project-content .post-meta {
  height: inherit;
  text-align: left;
  margin: 15px 0;
}

.project-modal .post-meta li {
  display: block;
  line-height: 20px;
}


/* social icons */
.share.me-buttons {
   /* width: 40px; */
   width: 157px;
   -webkit-transition: width 150ms;
   transition: width 150ms;
}
.share.me-buttons:hover, .share.me-buttons.touched {
  /* width: 160px; */
   width: 160px;
}
.share.me-buttons .holder {
   position: absolute;
   width: 160px;
}


.me-buttons .btn-twitter .front:before {
   content: "ïŒ‰";
   font-size: 23px;
}




/* BLOG */
.page-template-template-blog-php {
  background-color: #e8e8e8;
}



/* CONTACT */
/*
.w-custom-header.map-1 .a-map {
  height: 340px !important;
}
*/

.w-custom-header.map-1 .krown-column-row {
  margin-top: 0;
}

/* CENTRAR IMAGEN */
IMG.centred {
    display: block;
    margin-left: auto;
    margin-right: auto }


#NW { position:fixed; width:50%; height:50%; top:0;   left:0;   background:orange; }
#NE { position:fixed; width:50%; height:50%; top:0;   left:50%; background:blue; }
#SW { position:fixed; width:50%; height:50%; top:50%; left:0;   background:green; }
#SE { position:fixed; width:50%; height:50%; top:50%; left:50%; background:red; }

#c1 {
    width: 33%;
    top:0;
    background:orange;
}

#c2 {
    width: 33%;
    top:0;
    background:gray;
}

#c3 {
    width: 33%;
    top:0;
    background:red;
}
