{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="folio-grid">

    <div class="jumbotron">
        <div class="container">
            <div class="breadcrumb1">
                <ul>
                    <a href="/"><i class="fa fa-home home_1"></i></a>
                    <span class="divider">&nbsp;|&nbsp;</span>
                    <li class="current-page">Advanced Search</li>
                </ul>
            </div>{% for item in found_entries.qs %}
        <li>{{ item.city.name }} - {{ item.city }}</li>
      {% endfor %}

            <div  class=" col-md-10 col-md-offset-1">
                <form method="GET" action="">
                    <div class="row">

                        <div class="col-md-6">

                            <div class="form-group row">
                            <label class="col-sm-4">Gender:</label>
                                <div class="col-sm-6">
                                    <div class="radio">
                                        <label><input type="radio" name="gender" value="male" checked>Male</label>
                                    </div>
                                    <div class="radio">
                                        <label><input type="radio" name="gender" value="female">Female</label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                            <label  class="col-sm-4 form-control-label">Age :</label>
                                <div class="row">
                                    <div class="col-sm-2">
                                        <input required="required" type="number" name="min_age"  min="20" max="50" class="form-control"  placeholder="Min">
                                    </div>
                                    <div class="col-sm-2">
                                        <input required="required" type="number" name="max_age"  min="20" max="50" class="form-control"  placeholder="Max">
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="col-md-6">

                            <div class="form-group row">
                            <label class="col-sm-4">Relationship Status:</label>
                                <div class="col-sm-6">
                                    <select name="relationship" placeholder="Relationship" id="input" class="form-control" required="required">
                                        <option value="single">Single</option>
                                        <option value="widow">Widow/Widower</option>
                                        <option value="divorced">Divorced</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                            <label  class="col-sm-4 form-control-label">Religion:</label>
                                <div class="col-sm-6">
                                    <select name="religion" placeholder="Religion" id="input" class="form-control" required="required">
                                        <option value="cristian">Cristian</option>
                                        <option value="islam">Islam</option>
                                        <option value="hindu">Hindu</option>
                                        <option value="buddhist">Buddhist</option>
                                    </select>
                                </div>
                            </div>

                        </div>

                    </div>

                    <div style="float: right" class="form-group row">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-danger btn-lg">Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
{% for item in found_entries.qs %}
    <li>{{ item.username }} - {{ item.city }}</li>
{% endfor %}
<!--
<div class="searchform">

<form class="form-inline" role="search" method="GET" action="/search/">
<div class="input-group input-lg">

{{ form.media }}
<div class="form-group" style="width:25% ; right:28px; display:flex; position:absolute;">
{{ formbook.q }}
{{ searchform }}
{{ searchform.as_p }}
{{ filter.form.as_p }}
<input class="form-control" id="id_searchbar" type="text" name="q" placeholder="Search...">
<button type="submit" name="">Submit</button>
</div>
</form>

</div>
-->
<!-- /searchform -->

{% endblock %}


{% block content1 %}

<div class="grid_3">
    <div class="container">

        <div class="col-md-1"></div>

            <div class="members_box2 col-md-4 col-md-offset-8" >
                <ul  class="pagination">
                    {% if objectset.has_previous %}
                    <li><a href="?page={{ objectset.previous_page_number }}">previous</a></li>
                    {% endif %}
                    <li class="active"><a href="#">Page {{ objectset.number }} of {{ objectset.paginator.num_pages }}</a></li>
                    {% if objectset.has_next %}
                    <li><a href="?page={{ objectset.next_page_number }}">next</a></li>
                    {% endif %}
                </ul>
                <div class="clearfix"> </div>
            </div>

        </div>

        {% for foo in objectset %}
        <div class="profile_top"><a href="{{ foo.slug }}">
        <h2>{{ foo.username }}</h2>

            <div class="col-sm-3 profile_left-top"></div>

                <div class="col-sm-3">
                    <ul class="login_details1">
                        <li><span style="color: lightcoral;text-align: center ">{{ foo.name |upper }}</span></li>
                        <li>Last Login : {{ foo.updated | timesince }} ago</li>
                    </ul>
                </div>

                <div class="col-sm-6">
                    <table class="table_working_hours">
                        <tbody>
                            <tr class="opened_1">
                                <td class="day_label1">Age / Height :</td>
                                <td class="day_value">{{ foo.age }}, {{ foo.height }}</td>
                            </tr>
                            <tr class="opened">
                                <td class="day_label1">Last Login :</td>
                                <td class="day_value">{{ foo.updated | timesince }} ago</td>
                            </tr>
                            <tr class="opened">
                                <td class="day_label1">Religion :</td>
                                <td class="day_value">{{ foo.religion }}</td>
                            </tr>
                            <tr class="opened">
                                <td class="day_label1">Marital Status :</td>
                                <td class="day_value">{{ foo.maritalStatus }}</td>
                            </tr>
                            <tr class="opened">
                                <td class="day_label1">Location :</td>
                                <td class="day_value">{{ foo.current_location }}</td>
                            </tr>
                            <tr class="closed">
                                <td class="day_label1">Profile Created by :</td>
                                <td class="day_value closed"><span>{{ foo.matrimonyProfileFor }}</span></td>
                            </tr>
                            <tr class="closed">
                                <td class="day_label1">Education :</td>
                                <td class="day_value closed"><span>{{ foo.education_detail }}</span></td>
                            </tr>
                        </tbody>
                    </table>

                <div class="buttons">
                    <div class="vertical">Send Mail</div>
                    <div class="vertical">Shortlisted</div>
                    <div class="vertical">Send Interest</div>
                </div>

            </div>

            <div class="clearfix"></div>
        </div>
        {% endfor %}

        <div class="members_box2">
            <ul class="pagination">
                {% if objectset.has_previous %}
                <li><a href="?page={{ objectset.previous_page_number }}">previous</a></li>
                {% endif %}
                <li class="active"><a href="#">Page {{ objectset.number }} of {{ objectset.paginator.num_pages }}</a></li>
                {% if objectset.has_next %}
                <li><a href="?page={{ objectset.next_page_number }}">next</a></li>
                {% endif %}
            </ul>
            <div class="clearfix"></div>
        </div>

        <div class="clearfix"></div>
    </div>
    <div class="col-md-1"></div>
</div>
{% endblock content1 %}
