{% extends "base.html" %}

{% block content %}

<div class="folio-grid">
    <div id="c1">
    <ul>
      {% for item in found_entries.qs %}
        <li>{{ item.city.name }} - {{ item.city }}</li>
      {% endfor %}
  </ul>
    </div>
</div>

{% endblock %}
