{% extends 'base.html' %}

{% block content %}

<div class="clearfix blog-grid">
<section id="portfolio" class="folio-grid ratio_4-3 get-ratio clearfix" data-url="/">

<a id="post-3651" class="folio-item video-y-motion ratio_4-3 bg-dark-false isotope-hidden" href="/portfolio/smart-toilets/" data-custom-filter="0" data-slug="smart-toilets" data-title="Smart Toilets Roca | La Diferencia" data-type="modal">

        <div class="folio-cube">
          <div class="front">
            <img src="http://www.ladiferencia.tv/wp-content/uploads/2016/09/ROCA-SMART-TOILETS-PORTADA-420x315.png" width="420" height="315" alt="Smart Toilets Roca" />
          </div>
          <div class="bottom"  style="background-color: #6e8790">
            <div class="folio-caption">
              <h3>Smart Toilets Roca</h3>
              <span>video &amp; motion</span>
            </div>
          </div>
        </div>

      </a>


      <a id="post-3449" class="folio-item tv-y-docs web ratio_4-3 bg-dark-false isotope-hidden" href="/portfolio/empatia-2/" data-custom-filter="0" data-slug="empatia-2" data-title="Empatía | La Diferencia" data-type="modal">

        <div class="folio-cube">
          <div class="front">
            <img src="http://www.ladiferencia.tv/wp-content/uploads/2015/04/EMPATIA-PORTADA2-420x315.jpg" width="420" height="315" alt="Empatía" />
          </div>
          <div class="bottom"  style="background-color: #847e7a">
            <div class="folio-caption">
              <h3>Empatía</h3>
              <span>TV &amp; docs, web</span>
            </div>
          </div>
        </div>

      </a>


      <a id="post-3660" class="folio-item video-y-motion ratio_4-3 bg-dark-false isotope-hidden" href="/portfolio/in-tank/" data-custom-filter="0" data-slug="in-tank" data-title="IN-TANK | La Diferencia" data-type="modal">

        <div class="folio-cube">
          <div class="front">
            <img src="http://www.ladiferencia.tv/wp-content/uploads/2016/10/ROCA-IN-TANK-PORTADA2-420x315.jpg" width="420" height="315" alt="IN-TANK" />
          </div>
          <div class="bottom"  style="background-color: #80807e">
            <div class="folio-caption">
              <h3>IN-TANK</h3>
              <span>video &amp; motion</span>
            </div>
          </div>
        </div>

      </a>


      <a id="post-3676" class="folio-item video-y-motion ratio_4-3 bg-dark-false isotope-hidden" href="/portfolio/nhs-lifecycle/" data-custom-filter="0" data-slug="nhs-lifecycle" data-title="NHS &#8211; Lifecycle | La Diferencia" data-type="modal">

        <div class="folio-cube">
          <div class="front">
            <img src="http://www.ladiferencia.tv/wp-content/uploads/2017/02/NHS-LIFECYCLE-PORTADA2-420x315.jpg" width="420" height="315" alt="NHS &#8211; Lifecycle" />
          </div>
          <div class="bottom"  style="background-color: #758289">
            <div class="folio-caption">
              <h3>NHS &#8211; Lifecycle</h3>
              <span>video &amp; motion</span>
            </div>
          </div>
        </div>

      </a>


      <a id="post-3633" class="folio-item video-y-motion ratio_4-3 bg-dark-false isotope-hidden" href="/portfolio/roca-kcb-khroma/" data-custom-filter="0" data-slug="roca-kcb-khroma" data-title="ROCA &#8211; KBC KHROMA | La Diferencia" data-type="modal">

        <div class="folio-cube">
          <div class="front">
            <img src="http://www.ladiferencia.tv/wp-content/uploads/2016/06/ROCA-KBC-VIDEOWALL-KHROMA-PORTADA-420x315.jpg" width="420" height="315" alt="ROCA &#8211; KBC KHROMA" />
          </div>
          <div class="bottom"  style="background-color: #857e79">
            <div class="folio-caption">
              <h3>ROCA &#8211; KBC KHROMA</h3>
              <span>video &amp; motion</span>
            </div>
          </div>
        </div>

      </a>


      <a id="post-277" class="folio-item tv-y-docs ratio_4-3 bg-dark-false isotope-hidden" href="http://www.facebook.com/whenadream" target="_blank" data-custom-url="yes" data-custom-filter="0" data-slug="when-a-dream-comes-true" data-title="When a dream comes true | La Diferencia" data-type="modal">

        <div class="folio-cube">
          <div class="front">
            <img src="http://www.ladiferencia.tv/wp-content/uploads/2014/09/WAD-PORTADA1-420x315.jpg" width="420" height="315" alt="When a dream comes true" />
          </div>
          <div class="bottom"  style="background-color: #a4705a">
            <div class="folio-caption">
              <h3>When a dream comes true</h3>
              <span>TV &amp; docs</span>
            </div>
          </div>
        </div>

      </a>



      <a id="post-277" class="folio-item tv-y-docs ratio_4-3 bg-dark-false isotope-hidden" href="http://www.facebook.com/whenadream" target="_blank" data-custom-url="yes" data-custom-filter="0" data-slug="when-a-dream-comes-true" data-title="When a dream comes true | La Diferencia" data-type="modal">

        <div class="folio-cube">
          <div class="front">
            <img src="http://www.ladiferencia.tv/wp-content/uploads/2014/09/WAD-PORTADA1-420x315.jpg" width="420" height="315" alt="When a dream comes true" />
          </div>
          <div class="bottom"  style="background-color: #a4705a">
            <div class="folio-caption">
              <h3>When a dream comes true</h3>
              <span>TV &amp; docs</span>
            </div>
          </div>
        </div>

      </a>



      <a id="post-277" class="folio-item tv-y-docs ratio_4-3 bg-dark-false isotope-hidden" href="http://www.facebook.com/whenadream" target="_blank" data-custom-url="yes" data-custom-filter="0" data-slug="when-a-dream-comes-true" data-title="When a dream comes true | La Diferencia" data-type="modal">

        <div class="folio-cube">
          <div class="front">
            <img src="http://www.ladiferencia.tv/wp-content/uploads/2014/09/WAD-PORTADA1-420x315.jpg" width="420" height="315" alt="When a dream comes true" />
          </div>
          <div class="bottom"  style="background-color: #a4705a">
            <div class="folio-caption">
              <h3>When a dream comes true</h3>
              <span>TV &amp; docs</span>
            </div>
          </div>
        </div>

      </a>



      <a id="post-277" class="folio-item tv-y-docs ratio_4-3 bg-dark-false isotope-hidden" href="http://www.facebook.com/whenadream" target="_blank" data-custom-url="yes" data-custom-filter="0" data-slug="when-a-dream-comes-true" data-title="When a dream comes true | La Diferencia" data-type="modal">

        <div class="folio-cube">
          <div class="front">
            <img src="http://www.ladiferencia.tv/wp-content/uploads/2014/09/WAD-PORTADA1-420x315.jpg" width="420" height="315" alt="When a dream comes true" />
          </div>
          <div class="bottom"  style="background-color: #a4705a">
            <div class="folio-caption">
              <h3>When a dream comes true</h3>
              <span>TV &amp; docs</span>
            </div>
          </div>
        </div>

      </a>


</section>

</div>

{% endblock %}
