<!DOCTYPE html>
{% load staticfiles %}
{% load tz %}
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<meta name="format-detection" content="telephone=no">

<!-- LINKS -->
<link href="/static/favicon.ico" rel="shortcut icon">

<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

<title>{% block head_title %}{{ title }} | {{ basetitle }}{% endblock head_title %}</title>
<link rel='stylesheet' id='krown-style-css'  href='/static/css/frontend.css' type='text/css' media='all' />
<link rel='stylesheet' id='krown-font-head-css'  href='http://fonts.googleapis.com/css?family=Montserrat%3A300%2C300italic%2C400%2C400italic%2C600%2C700%2C700italic&#038;ver=4.1' type='text/css' media='all' />
<link rel='stylesheet' id='krown-font-body-css'  href='http://fonts.googleapis.com/css?family=Montserrat%3A300%2C300italic%2C400%2C400italic%2C600%2C700%2C700italic&#038;ver=4.1' type='text/css' media='all' />
<link href="/static/css/bootstrap-3.1.1.min.css" rel='stylesheet' type='text/css' />
<link href="/static/css/font-awesome.css" rel="stylesheet">
<link rel="stylesheet" href="/static/css/flexslider.css" type="text/css" media="screen" />
<link href="/static/css/style.css" rel='stylesheet' type='text/css' />

<script type='text/javascript' src='/static/js/jquery.js'></script>
<script type='text/javascript' src='/static/js/jquery-ui.js'></script>
<script type='text/javascript' src='/static/js/jquery-migrate.min.js'></script>
<script type='text/javascript' src="/static/js/bootstrap.min.js"></script>
<script>
$(document).ready(function(){
    $(".dropdown").hover(
        function() {
            $('.dropdown-menu', this).stop( true, true ).slideDown("fast");
            $(this).toggleClass('open');
        },
        function() {
            $('.dropdown-menu', this).stop( true, true ).slideUp("fast");
            $(this).toggleClass('open');
        }
    );
});
</script>
<link rel='shortlink' href='http://www.ladiferencia.tv/' />
</head>

<body id="body" class="home page page-id-18 page-template page-template-template-portfolio page-template-template-portfolio-php sidebar-hide is-portfolio thumbs-loading blog-style-fixed parallax-enabled sidebar-no3d no-touch">
{% include 'topnav.html' %}

<!-- Sidebar Start -->
{% include 'sidebar.html' %}
<!-- Sidebar End -->

<!-- Main Wrapper Start -->
<div id="content" class=" clearfix">
    {% block content %}
    {% endblock %}

    {% block content1 %}
{% endblock content1 %}
<!-- Main Wrapper End -->
</div>

<!-- Preloader -->
<div id="loader"></div>

<!-- GTT Button -->
<a id="top" href="#" class="krown-icon-right-open"></a>


<script type='text/javascript' src='/static/ajax_select/js/ajax_select.js'></script>
<script type='text/javascript' src='/static/ajax_select/js/bootstrap.js'></script>
<script type='text/javascript' src='/static/js/TweenMax.min.js'></script>
<script type='text/javascript' src='/static/js/idangerous.swiper.min.js'></script>
<script type='text/javascript' src='/static/js/jquery.isotope.min.js'></script>
<script type='text/javascript' src='/static/js/plugins.min.js'></script>
<script defer src="/static/js/jquery.flexslider.js"></script>

<script type='text/javascript'>
/* <![CDATA[ */
var themeObjects = {"base":"http:\/\/www.ladiferencia.tv\/wp-content\/themes\/huge","folioOpacity":"1","folioWidth":"420","gAnalytics":"enabled","gAnalyticsCode":"<script>\r\n  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){\r\n  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),\r\n  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)\r\n  })(window,document,'script','\/\/www.google-analytics.com\/analytics.js','ga');\r\n\r\n  ga('create', 'UA-12840149-4', 'auto');\r\n  ga('send', 'pageview');\r\n\r\n<\/script>","modalDummyBackground":"","modalCloseClick":"true","disableParallax":"parallax-enabled"};
/* ]]> */
</script>
<script>
// Can also be used with $(document).ready()
$(window).load(function() {
  $('.flexslider').flexslider({
    animation: "slide",
    controlNav: "thumbnails"
  });
});
</script>
<script type='text/javascript' src='/static/js/scripts.min.js'></script>
</body>
</html>
