{% extends 'base.html' %}

{% block content %}

<div class="folio-grid">

<div class="container-fuild">
    <img src="/static/img/Life-partner-or-soulmate.png" class="responsive" width="100%" height="auto">
</div>

</div>

{% endblock %}
