<!-- Sidebar Start -->
<header id="sidebar" class="clearfix">
    <div class="content">
        <div id="theme-sidebar">
            <a id="logo" href="/" style="width:200px;height:68px">
                <img class="default" src="/static/img/logo-ladiferencia.png" alt="La Diferencia" />
                <img class="retina" src="/static/img/logo-ladiferencia-retina.png" alt="La Diferencia" />
            </a>
            <nav id="menu" class="clearfix" data-responsive-title="Navigation">
                <ul id="menu-menu-principal" class="clearfix top-menu">
                    <li id="menu-item-83" class="selected parent menu-item clearfix"><a href="/">home</a>
                        <ul class="sub-menu clearfix">
                            <li id="menu-item-118" class="menu-item clearfix"><a title="all" href="/profile/" class="filter all-filter" data-filter="*">profile</a></li>
                            <li id="menu-item-113" class="menu-item clearfix"><a href="/find/" class="filter" data-filter="about">search</a></li>
                            <li id="menu-item-115" class="menu-item clearfix"><a href="/accounts/signup/" class="filter" data-filter="terms">signup</a></li>
                            <li id="menu-item-116" class="menu-item clearfix"><a href="/member/" class="filter" data-filter="video-y-motion">video &#038; motion</a></li>
                            <li id="menu-item-117" class="menu-item clearfix"><a href="/member/" class="filter" data-filter="web">web</a></li>
                            <li id="menu-item-189" class="menu-item clearfix"><a href="/member/" class="filter" data-filter="grafico">gráfico</a></li>
                            <li id="menu-item-2807" class="menu-item clearfix"><a href="/member/" class="filter" data-filter="branding-es">branding</a></li>
                        </ul>
                    </li>
                    <li id="menu-item-228" class="menu-item clearfix"><a href="/about/">about</a></li>
                    <li id="menu-item-82" class="menu-item clearfix"><a href="/terms/">terms</a></li>
                    <li id="menu-item-84" class="menu-item clearfix"><a href="/privacy/">privacy</a></li>
                    <li id="menu-item-141" class="menu-item clearfix"><a href="/faq/">faq</a></li>
                </ul>
            </nav>
            <div id="sidebar-widgets" class="clearfix">
                <div id="text-2" class="widget widget_text clearfix">
                    <div class="textwidget">
                        <div class="krown-social clearfix">
                            <ul>
                                <li class="krown-icon-twitter"><a target="_self" href="https://twitter.com/nosomosiguales">https://twitter.com/nosomosiguales</a></li>
                                <li class="krown-icon-facebook-squared"><a target="_self" href="https://www.facebook.com/ladiferencia.tv">https://www.facebook.com/ladiferencia.tv</a></li>
                                <li class="krown-icon-vimeo"><a target="_self" href="http://vimeo.com/ladiferencia">http://vimeo.com/ladiferencia</a></li>
                                <li class="krown-icon-linkedin"><a target="_self" href="https://www.linkedin.com/company/la-diferencia-.tv">https://www.linkedin.com/company/la-diferencia-.tv</a></li>
                                <li class="krown-icon-youtube"><a target="_self" href="https://www.youtube.com/user/canalladiferencia">https://www.youtube.com/user/canalladiferencia</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="button">
        <span class="open-close lines"></span>
    </div>
</header>
<!-- Sidebar End -->
