<!-- ============================  Navigation Start =========================== -->
 <div class="navbar navbar-inverse-blue ">
    <!--<div class="navbar navbar-inverse-blue navbar-fixed-top">-->
      <div class="navbar-inner navbar-inner_1">
        <div class="container">
           <div class="navigation">
             <nav id="colorNav">
               <ul>
                <li class="green">
                    <a href="#" class="icon-home"></a>
                    {% if user.is_authenticated %}
                    <ul >
                        <li><a href="/createprofile/">Create Profile</a></li>
                        <li><a href="/accounts/logout/">Logout</a></li>
                      </ul>

                    {% else %}
                      <ul >
                        <li><a href="/accounts/login/">Login</a></li>
                        <li><a href="/accounts/signup/">Register</a></li>
                      </ul>

                {% endif %}
                </li>
               </ul>
             </nav>
           </div>
            <a class="brand" href="/"><img src="/static/img/hqdefault.jpg" alt="logo" width="180px" height="50px"></a>
           <div class="pull-right">
            <nav class="navbar nav_bottom" role="navigation">

         <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header nav_2">
              <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">Menu
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#"></a>
           </div>
           <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-megadropdown-tabs" >
                <ul class="nav navbar-nav nav_1">
                    <li><a href="/">magiHome</a></li>
                    <li>
                      <a href="/find/">magiSearch</span></a>
                    </li>
                    <li>
                      <a href="/match/">magiMatch</span></a>
                    </li>
                    <li><a href="/profile/">magiProfiles</a></li>
                        <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">magiProfile<span class="caret"></span></a>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="/myprofile/">View Profile</a></li>

                        <li><a href="/editprofile/">Update Profile</a></li>

                      </ul>
                    </li>

                {% if user.is_authenticated %}
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Welcome {{ user.username }}<span class="caret"></span></a>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="/createprofile/">Create Profile</a></li>
                        <li><a href="/accounts/logout/">Logout</a></li>
                      </ul>
                    </li>
                    {% else %}
                     <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Welcome Guest<span class="caret"></span></a>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="/accounts/login/">Login</a></li>
                        <li><a href="/accounts/signup/">Register</a></li>
                      </ul>
                    </li>

                {% endif %}


                </ul>
             </div><!-- /.navbar-collapse -->

            </nav>
           </div> <!-- end pull-right -->
          <div class="clearfix"> </div>
        </div> <!-- end container -->
      </div> <!-- end navbar-inner -->
    </div> <!-- end navbar-inverse-blue -->
    <!-- Navigation End -->
