<h4>Wybierz obiekt</h4>
<ul>
    <li><a href="/ephem/obj/merkury/">Merkury</a></li>
    <li><a href="/ephem/obj/wenus/">Wenus</a></li>
    <li><a href="/ephem/obj/mars/">Mars</a></li>
    <li><a href="/ephem/obj/jowisz/">Jowisz</a></li>
    <li><a href="/ephem/obj/saturn/">Saturn</a></li>
    <li><a href="/ephem/obj/uran/">Uran</a></li>
    <li><a href="/ephem/obj/neptun/">Neptun</a></li>
    <li><a href="/ephem/obj/pluton/">Pluton</a></li>
</ul>
<ul>
    <li><a href="/ephem/obj/moon/">Księżyc</a></li>
</ul>
