{% block content %}
<h2>{{ data.name }}</h2>
Dane dla Warszawy (52.15, 21.01; 115 m n.p.m) wyliczone za pomocą PyEphem.
<ul>
<li><b>Najbliższy wschód</b>: {{ data.rising }}</li>
<li><b>Najbliższe górowanie</b>: {{ data.transit }}</li>
<li><b>Najbliższy zachód</b>: {{ data.setting }}</li>
</ul>
<h4>Obecnie położenie ({{ data.current_date|date:"Y.m.d H:i" }})</h4>
<ul>
<li><b>Wysokość</b>: {{ data.alt }}</li>
<li><b>Azymut</b>: {{ data.az }}</li>
<li><b>Deklinacja</b>: {{ data.dec }}</li>
<li><b>Rektascencja</b>: {{ data.ra }}</li>
<li><b>Konstelacja</b>: {{ data.constellation }}</li>
<li><b>Jasność</b>: {{ data.mag }} mag</li>
<li><b>Rozmiar/Średnica</b>: {{ data.size }} sekund łuki</li>
<li><b>Odległość od Ziemi</b>: {{ data.distance }} AU</li>
</ul>

<h4>Prognoza</h4>
<div style="text-align:center;">
<img src="{{ size_chart }}" alt="Wykres rozmiaru {{ data.name }}" />
<img src="{{ mag_chart }}" alt="Wykres jasności {{ data.name }}" />
</div>
{% endblock %}
